.packages
.dart_tool/package_config.json
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/.filecache
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/app.dill
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/debug_universal_framework.stamp
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/flutter_assets.d
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/gen_localizations.stamp
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/iphone_framework
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/kernel_snapshot.d
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/kernel_snapshot.stamp
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/outputs.json
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/simulator_framework
.dart_tool/flutter_build/64be379351be5dbd56aec9444a4d3673/App.framework/App
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill
build/e6556116c9e6daf1c1fa215dd8ac0d4f/gen_localizations.stamp
build/ios/Debug-iphonesimulator/Runner.app/AppFrameworkInfo.plist
build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@2x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@2x~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@3x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@2x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@2x~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@3x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@2x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@2x~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@3x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon60x60@2x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon60x60@3x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon76x76@2x~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon76x76~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon83.5x83.5@2x~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/Assets.car
build/ios/Debug-iphonesimulator/Runner.app/Debug.xcconfig
build/ios/Debug-iphonesimulator/Runner.app/Generated.xcconfig
build/ios/Debug-iphonesimulator/Runner.app/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/PkgInfo
build/ios/Debug-iphonesimulator/Runner.app/Runner
build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/AppFrameworkInfo.plist
build/ios/iphonesimulator/Runner.app/AppIcon20x20@2x.png
build/ios/iphonesimulator/Runner.app/AppIcon20x20@2x~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon20x20@3x.png
build/ios/iphonesimulator/Runner.app/AppIcon20x20~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon29x29.png
build/ios/iphonesimulator/Runner.app/AppIcon29x29@2x.png
build/ios/iphonesimulator/Runner.app/AppIcon29x29@2x~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon29x29@3x.png
build/ios/iphonesimulator/Runner.app/AppIcon29x29~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon40x40@2x.png
build/ios/iphonesimulator/Runner.app/AppIcon40x40@2x~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon40x40@3x.png
build/ios/iphonesimulator/Runner.app/AppIcon40x40~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon60x60@2x.png
build/ios/iphonesimulator/Runner.app/AppIcon60x60@3x.png
build/ios/iphonesimulator/Runner.app/AppIcon76x76@2x~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon76x76~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon83.5x83.5@2x~ipad.png
build/ios/iphonesimulator/Runner.app/Assets.car
build/ios/iphonesimulator/Runner.app/Debug.xcconfig
build/ios/iphonesimulator/Runner.app/Generated.xcconfig
build/ios/iphonesimulator/Runner.app/Info.plist
build/ios/iphonesimulator/Runner.app/PkgInfo
build/ios/iphonesimulator/Runner.app/Runner
build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/Info.plist
build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/Info.plist
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
build/ios/Runner.build/Release-iphoneos/Runner.build/dgph
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework/App
ios/Flutter/App.framework/Info.plist
ios/Flutter/App.framework/flutter_assets/AssetManifest.json
ios/Flutter/App.framework/flutter_assets/FontManifest.json
ios/Flutter/App.framework/flutter_assets/isolate_snapshot_data
ios/Flutter/App.framework/flutter_assets/kernel_blob.bin
ios/Flutter/App.framework/flutter_assets/NOTICES
ios/Flutter/App.framework/flutter_assets/vm_snapshot_data
ios/Flutter/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
ios/Flutter/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
ios/Flutter/Flutter.framework/Flutter
ios/Flutter/Flutter.framework/icudtl.dat
ios/Flutter/Flutter.framework/Info.plist
ios/Flutter/Flutter.framework/_CodeSignature/CodeResources
ios/Flutter/Flutter.framework/Headers/Flutter.h
ios/Flutter/Flutter.framework/Headers/FlutterAppDelegate.h
ios/Flutter/Flutter.framework/Headers/FlutterBinaryMessenger.h
ios/Flutter/Flutter.framework/Headers/FlutterCallbackCache.h
ios/Flutter/Flutter.framework/Headers/FlutterChannels.h
ios/Flutter/Flutter.framework/Headers/FlutterCodecs.h
ios/Flutter/Flutter.framework/Headers/FlutterDartProject.h
ios/Flutter/Flutter.framework/Headers/FlutterEngine.h
ios/Flutter/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
ios/Flutter/Flutter.framework/Headers/FlutterMacros.h
ios/Flutter/Flutter.framework/Headers/FlutterPlatformViews.h
ios/Flutter/Flutter.framework/Headers/FlutterPlugin.h
ios/Flutter/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
ios/Flutter/Flutter.framework/Headers/FlutterTexture.h
ios/Flutter/Flutter.framework/Headers/FlutterViewController.h
ios/Flutter/Flutter.framework/Modules/module.modulemap
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
